# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION_MS=

# Mail Configuration
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
